.footer {
	border-bottom: 1px solid #eaeaea;
    background-color: azure;
}

.info-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
    max-width: 1440px;
    margin: auto;
}

.logo {
	font-size: 1.5rem;
	font-weight: 700;
	color: #155253;
}

.link-list {
	display: flex;
	gap: 1rem;
}

.link {
	padding: 0.5rem 1rem;
	border-radius: 8px;
	color: #1d244d;
	font-weight: 700;
	cursor: pointer;
}
